---

---

<footer class="bg-gray-200 relative bottom-0 w-full flex flex-col md:flex-row md:justify-between items-center py-3 md:py-5 px-3 md:px-8 lg:px-16">
    <p class="text-center">Copyright © 2023 "company name here." - All Rights Reserved.</p>
    <div class="flex space-x-2 items-center pt-1 md:pt-0">
        <p>Built by</p>
        <a class="font-bold underline underline-offset-1 active:scale-105" href="https://www.hectororopesa.com" target="_blank" >Hector Oropesa</a>
    </div>
</footer>
